<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
         <h4>{{ name }}</h4>
         <p>{{ more }}</p>
         <p>{{ status }}</p>
      </div>
       <div class="col-md-6 text-right">
         <h4><span class="icon -fa-money"></span> {{ price.currency }} {{ price.value }}</h4>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><span class="icon -fa-hand-o-right"> {{ phone }}</span></li>
      <li><span class="icon -fa-calendar"> {{ dates.in }} - {{ dates.out }}</span></li>
      <li><span class="icon -fa-key"> {{ room }}</span></li>
      <li><span class="icon -fa-envelope"> {{ email }}</span></li>
      <div class="text-right"><span class="icon -fa-chevron-right"></span>{{ link.title }}</span></li>
    </ul>
  </div>
</div>