<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="container">
    
{% for file in files %}
    
    <div class="row index-row">

        <div class="col-md-5 index-description">

            <h3>{{ file.title}}</h3>
        
            <p>{{ file.desc }}</p>

            <p>Add this to <code>yourpage.html</code></p>

            <pre>{{'{%'}} include "{{ file.path }}" with {{ file.name }} {{ '%}' }}</pre>

            <p>Add this to <code>yourpage.yaml</code></p>

            <pre>{{ file.sample }}</pre>

        </div>

        <div class="col-md-6 col-md-offset-1">
        
            {% include file.path with file.data %}

        </div>

    </div>

{% endfor %}    

</div>

</body>
</html>