$white: #fff;
$black: #000;

$blue-mild: #5bc0de;
$blue-midnight: #34495e;

$green: #16a085;

$gray-lighter: #eee;
$gray-light: #ccc;
$gray-medium: #a1a1a1;
$gray-dark: #727272;

$red-medium: #ff0000;
$red-dark: #c01818;

$yellow: #f1c40f;



