$font-family-sans-serif: sans-serif !default;

// Text

$font-size-larger: 22px;
$font-size-large: 18px;
$font-size-base: 14px;
$font-size-small: 12px;

$text-color: $gray-dark;

// Headers

$headings-font-weight: bold;
$headings-line-height: 1.1;
$headings-color: inherit;

$font-size-h1: 42px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 16px;

// Border radiuses

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

// Brand colors

$brand-primary: $blue-midnight;
$brand-success: $green;
$brand-info: $blue-mild;
$brand-warning: $yellow;
$brand-danger: $red-medium;


