<div class="component-menu">

    {% if left %}

    <div class="left">

    {% for item in left %}
        
            {% include "../../components/icon/icon.html" with item %}
                  
    
    {% endfor %}

    </div>
   
    {% endif %}


    {% if center.image %}

    <div class="center" style="width: 50%;" >

        <img src="{{ center.image }}" style="width: 100%;"/>

    </div>

    {% endif %}

    {% if right %}

    <div class="right">

    {% for item in right %}
        
            {% include "../../components/icon/icon.html" with item %}
                  
    
    {% endfor %}

    </div>

    {% endif %}


</div>