<div class="component-menu">

    <div class="left">

    {% for item in left_menu %}
        
        <a href="{{ item.url }}">

            {% include "../../components/icon/icon.html" with item %}
                  
        </a>

    {% endfor %}
   
    </div>

    <div class="right">

    {% for item in right_menu %}
        
        <a href="{{ item.url }}">

            {% include "../../components/icon/icon.html" with item %}
                  
        </a>

    {% endfor %}

    </div>

</div>